/* 
.container {
    margin: 0;
    padding: 0;
    height: 87vh;
    background: linear-gradient(45deg, rgb(4 19 52), transparent);
    background-size: cover;
} */

main {
    background-color: black;
    display: block;
    width: 70%;
    margin: 8px auto;
    border: none;
    color: white;
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 48%);
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
}

.artist-card {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: all 1s;
    box-shadow: 0 0 10px #fff;
}

img {
    height: 300px;
    object-fit: cover;
}

.artist-card:hover {
    /* transform: scale(1.1); */
    opacity: 1;
}

.title {
    color: gold;
    padding: 2%;
    font-family: -webkit-body;
    font-size: 25px;
}


/* p.info {
   padding: 5%;
} */

@media screen and (max-width: 450px) {
    main {
        width: 100%;
        margin: 0px;
        border: 1px solid gray;
    }
    .container {
        display: inline-grid;
        grid-template-columns: repeat(2, 44%);
        grid-template-rows: repeat(2, 44%);
        width: 100%;
        grid-gap: 7px;
        justify-content: center;
    }
    .title {
        color: gold;
        padding: 2%;
        font-family: -webkit-body;
        font-size: 20px;
    }
}

@media only screen and (max-width: 911px) and (min-width: 450px) {
    main {
        width: 100%;
        margin: 0px;
        border: 1px solid gray;
    }
    .container {
        display: inline-grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        width: 100%;
        grid-gap: 7px;
        justify-content: center;
    }
}