<div class="form">
    <form class="login-form" action="" method="post">
        <h2> Login </h2>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook" ></i></a>
            <a href="#"><i class="fab fa-google" ></i></a>
            <a href="#"><i class="fab fa-twitter" ></i></a>
        </div>
        <input type="text" name="" value="" placeholder="Username" #username required>
        <input type="password" name="" value="" placeholder="Password" #password required>
        <button type="submit" name="button" (click)="performLogin(username, password)"> Login </button>
        <p class="options"> Not Registered? <a href="#"> Create an Account</a></p>
    </form>
</div>