<div class="form">
    <form class="login-form" action="" method="post" [formGroup]="loginForm">
        <h2> Login </h2>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook" ></i></a>
            <a href="#"><i class="fab fa-google" ></i></a>
            <a href="#"><i class="fab fa-twitter" ></i></a>
        </div>
        <input id="username" type="text" placeholder="Username" formControlName="username" #username required>

        <input id="password" type="password" value="" placeholder="Password" formControlName="password" #password required>

        <button type="submit" name="button" (click)="performLogin(username, password)"> Login </button>
        <p class="options"> Not Registered? <a (click)="onCreate()"> Create an Account</a></p>
    </form>
</div>