<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo" >Music-X</label>
  <ul>
    <li> <a class="active" [routerLink]="['/login']"> Login </a></li>
    <li> <a class="active" [routerLink]="['/themes']"> Themes </a></li>
    <li> <a class="active" [routerLink]="['/details']"> details </a></li>
    <li> <a class="active" [routerLink]="['/songs']"> songs </a></li>
  </ul>
</nav>

<router-outlet> </router-outlet>
