/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Candara", sans-serif;
}

.btn {
    outline: 0;
    background: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    padding: 15px;
    border: 2.5px solid #128b6d;
    border-radius: 25px;
    cursor: pointer;
    transform: 0.5s;
    transition-property: transform;
    text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #15daa8;
    transform: scale(1.1);
    color: white;
}