/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: monserrat;
}

.btn {
    outline: 0;
    background: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    width: 150px;
    padding: 13px;
    border: 2.5px solid #128b6d;
    border-radius: 25px;
    cursor: pointer;
    transform: 0.5s;
    transition-property: transform;
    text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #15daa8;
    transform: scale(1.1);
    color: white;
}

:root {
    --primary-color: #fff;
    --background-color: #fff;
    --text-color: #2d2d2d;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}