
<main>
    <div class="container">
        <div class="card" *ngFor="let item of dataArray">
            <img src={{item.src}} alt="Guitar" style="width:100%">
            <h1>{{item.title}}</h1>
            <p class="price">{{item.price}}</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>    
<!-- 
    <div class="card">
        <img src="assets/guitar2.jpg" alt="Guitar" style="width:100%">
        <h1>Buy at best price</h1>
        <p class="price">$19.99</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="assets/guitar5.jpg" alt="Guitar" style="width:100%">
        <h1>Buy white Guitar</h1>
        <p class="price">$23.99</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="assets/guitar1.jpg" alt="Guitar" style="width:100%">
        <h1>Buy black Guitar</h1>
        <p class="price">$22.99</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="assets/guitar7.jpg" alt="Guitar" style="width:100%">
        <h1>Buy now</h1>
        <p class="price">$25.99</p>
        <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
        <img src="assets/guitar10.jpg" alt="Guitar" style="width:100%">
        <h1>Buy acoustic Guitar</h1>
        <p class="price">$28.99</p>
        <p><button>Add to Cart</button></p>
    </div> -->

</main>