body {
    background-image: url();
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 10px;
}

.details {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.regform h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.main {
    background-color: rgba(6, 1, 27, 0.932);
    width: 600px;
    height: 350px;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}

form {
    padding: 10px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.firstname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 35px;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 13px;
}

.email {
    position: relative;
    margin-left: 25px;
    margin-top: 30px;
    top: -20px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.myemail {
    position: relative;
    left: 200px;
    top: -55px;
    line-height: 35px;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 13px;
}

.password {
    position: relative;
    margin-left: 25px;
    margin-top: 30px;
    top: -35px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.mypassowrd {
    position: relative;
    left: 200px;
    top: -70px;
    line-height: 35px;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 13px;
}

button {
    position: relative;
    top: -50px;
    margin: 17px 0px 0px 207px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #366373;
    padding: 14px 53px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.25px;
}

button:hover {
    background-color: #84e984;
}

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 15px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

td .btnedit {
    background-color: rgb(20, 220, 87);
    display: block;
    margin: 31px -16px -58px -17px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #366373;
    padding: 11px 28px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.25px;
}

td .btndelete {
    background-color: rgb(220, 20, 20);
    display: block;
    margin: 31px -16px -58px -17px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #366373;
    padding: 11px 28px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.25px;
}

@media screen and (max-width: 450px) {
    .main {
        margin-top: 10px;
        width: 100%;
    }
    .details {
        font-size: 20px;
    }
    .firstname {
        position: relative;
        left: 100px;
        width: 120px;
        top: -28px;
        line-height: 33px;
        border-radius: 25px;
        padding: 0 10px;
        font-size: 14px;
    }
    .myemail {
        position: relative;
        left: 100px;
        width: 120px;
        top: -49px;
        line-height: 35px;
        border-radius: 25px;
        padding: 0 10px;
        font-size: 13px;
    }
    .mypassowrd {
        position: relative;
        left: 100px;
        width: 120px;
        top: -65px;
        line-height: 35px;
        border-radius: 25px;
        padding: 0 10px;
        font-size: 13px;
    }
    .password {
        margin-left: 10px;
    }
    button {
        margin: 17px 0px 0px 116px;
        cursor: pointer;
        font-size: 14px;
        width: 100px;
        padding: 10px 13px 9px 15px;
    }
    th {
        width: 100%;
        color: #D5DDE5;
        background: #1b1e24;
        border-bottom: 2px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 12px;
        font-weight: 100;
        padding: 8px;
        vertical-align: middle;
    }
}